.emaildiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #058b09;
}
.emailIconStyles {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.emailIconText {
  color: yellow;
  text-decoration: none;
  font-size: 1em;
}
